.container{
	width:100%;
	min-height:100vh;

}

.limiter{
	background-color: #333;
	width:100%;
	margin: 0 auto;
}

html,body{
	height: 100%;
}
.wrapper{
	position: relative;
	top:100px;
	display: block;
	height: 900px;
	width:700px;
	margin: auto;
}

table{
	border: none;
	outline: none;
}

h1{
	margin-top: 50px;

}

.picture{
	height: 500px;
	width: 50%;
	float: left;
	background-color: cyan;
}

/*.regform{
	display: inline;
	position: relative;
	left:250px;
	width:50%;
	height:100px;
}*/

.form{
	position: relative;
	top: 50px;
	margin: auto;
	display: inline;
	width: 50%;
	height: 300px;
}

.input{
	width: 200px;
	display: block;
	margin-top: 10px;
	margin-left: 60px;
	/*border: none;*/
	outline: none;
	border-bottom: 1px solid black;
}

.logincontainer{
	position: relative;
	float: right;
	width:50%;
	background-color: #ffffff;
	height: 500px;
}

button
{
	height: 40px;
	width: 100px;
	position: relative;
	top:40px;
	left:100px;
	border-radius: 10px;
	color: white;
	background-color: rgb(255, 153, 194);
}